page-start {
    .slide_image-1{
        background-image: url('https://lh3.googleusercontent.com/FWtqvQARH4QAmXCHrmfMfISxl5JsKIHUntjSmcXMIPy25P3LA9j48rYGBFJzTtUQuD-HzYJDWmVygk4W3SxtPAi21OwciHiIwkyZROQjZeAIriigkaOx0ommWFKOD8eO9pFnFuvxKw=w2400');
        background-size: cover;
        background-position: center;
    }
    .slide_image-2{
        background-image: url('https://lh3.googleusercontent.com/hIxUNuG7rhrkLYiu6jdBBfs-eGgn8SIuKsuu_yqhRGk5nqe4iFqtfJIJ-EAnN330I54YEW7_Z9S2tW7S2DRmM-uCrwrXUaI57AkAD5xlndN7-QDY5EwjRq0ZAJ80MF_nhFYk35dBxQ=w2400');
        background-size: cover;
        background-position: center;
    }
    .slide_image-3{
        background-image: url('https://lh3.googleusercontent.com/nSxRrqVN2ty5Mn_cDqt3MT3R2_rJ56sf7l9jU1NBTB39IrmXnPxU50Uc3VkxxsZ_fEQrHsBujLAZhxSkgVLWTf4cLegGENnI-ZdMKN5r0XegH2z1s93ork-4h50I-zsaYcCmU9GTDQ=w2400');
        background-size: cover;
        background-position: center;
    }
    .slide-image-4 {
        background-image: url('https://lh3.googleusercontent.com/OEvDauviq-P-N04hYmHQFSCm1tUVaFk5Q6iRCthi_KogaZxUFH9pHNd8gAds259ZULRjVZGd9a7B4nR_b9ZlZbpUvkSxkFDskBBIyGmbSQm-4Vkmr-Jk3fu8cXU-wOR9HFHH68bq8g=w2400');
        background-size: cover;
        background-position: center;
    }

}
