page-login {
    .master {
        background-image: url('https://lh3.googleusercontent.com/ye5bEc36ID13lM-CLTdyNUgIotnrP1eYRIurR6HYUg3DL16-4oPv7CJU6-dI4pIhH1Ka_PovwnldNsOer8emeanBifBplP0uhZrPreI4JiB061P3SPnmEd37BvmJgXq5Wlg2ZGxhTA=w2400');
        background-size: cover;
        background-position: center;
    }
    .btn-entrar {
        border-radius: 5px;
        height: 40px;
    }
    .link {
        color: #454545;
    }
    
}
