page-calagem {
    .master {
        background-image: url('https://lh3.googleusercontent.com/235zPC9-h9uhfxk6IgYwIRM4rBy9NJLyIkC1g9Ni3J5nyg9qKIfnKADK6nhxV7fRIiueYH2xwFDjBbFDRi9bj75Ue5aPsLOQ_1ejlrP6pdrBG_7aQeoakdT-OCAS_fndbL4Z0NFFog=w2400');
        background-size: cover;
        background-position: center;
    }
    .btn-calcular {
        border-radius: 5px;
        height: 40px;
    }
}
